<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>laiHi</title>
    <link rel="stylesheet" href="../../Less/personage/touziJD.css">
</head>

<body>
    <div class="content">
        <div class="contentTop">
            <a href="./renz.html"><span></span></a>
            <span class="span2">保存</span>
            <p>单笔投额</p>
        </div>
        <div class="contentC2">
            <input type="text" name="" placeholder=" 0 "><span>－
            </span>
            <input type="text" name="" placeholder=" 0 ">
            <p>单位：万元</p>
        </div>
    </div>
</body>

<script src="../../script/common.js"></script>
<script>
</script>

</html>