<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>laiHi</title>
    <link rel="stylesheet" href="../../Less/personage/touziJD.css">
</head>

<body>
    <div class="content">
        <div class="contentTop">
            <a href="./renz.html"><span></span></a>
            <span class="span2">保存</span>
            <p>关注地区</p>
        </div>
        <div class="contentC3">
            <span>北京</span>
            <span>上海</span>
            <span>广州</span>
            <span>杭州</span>
            <span>郑州</span>
            <span>深圳</span>
            <span>四川</span>
        </div>
    </div>
</body>

<script src="../../script/common.js"></script>
<script>
</script>

</html>