<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>laiHi</title>
    <link rel="stylesheet" href="../../Less/personage/home.css">
</head>

<body>
    <div class="topImag">
        <span class="head"></span>
    </div>
    <div class="content">
        <p><span>我的票券</span> <i></i></p>
    </div>
    <div class="content">
        <p><span>我的收藏</span> <i></i></p>
    </div>
    <div class="content">
        <p><span>我的项目</span> <i></i></p>
    </div>
    <div class="content">
        <p><span>认证投资人</span> <i></i></p>
    </div>
    <div class="hint">
        <span>客服</span>
        <span>客服</span>
    </div>
</body>
<script src="../../script/common.js"></script>

</html>