<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../Less/personage/myfavorite.css">
    <title>laiHi</title>
</head>

<body>
    <div class="contente clearfix toudicon">
        <div class="contentel">
        </div>
        <div class="contenter">
            <ul>
                <li class="txt_cut">小小科技小小科技小小科技小小科技小小科技小小科技小小科技小小科技小小科技小小科技小小科技小小科技</li>
                <li class="ulC"><span>上海静安</span> <span>09/01</span></li>
            </ul>
        </div>
        <div class="TouDiWin">
            <p>BP</p>
            <p>投递成功</p>
        </div>
    </div>
    <div class="contente clearfix toudicon">
        <div class="contentel">
        </div>
        <div class="contenter">
            <ul>
                <li class="txt_cut">小小科技小小科技小小科技小小科技</li>
                <li class="ulC"><span>上海静安</span> <span>09/01</span></li>
            </ul>
        </div>
        <div class="TouDiWin">
            <p>BP</p>
            <p>投递成功</p>
        </div>
    </div>

</body>
<script src="../../script/common.js"></script>

</html>