<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../Less/personage/renz.css">
    <title>laiHi</title>
</head>

<body>
    <div class="box">
        <p>名片上传</p> <i>*</i>
        <span class="iconfont">&#xe64f;</span>
    </div>
    <div class="box marginB20">
        <p>个人简介</p>
        <span class="iconfont">&#xe77b;</span>
    </div>
    <div class="box">
        <p>投资领域</p>
        <span class="iconfont">&#xe77b;</span>
    </div>
    <div class="box">
        <p>投资阶段</p>
        <span class="iconfont">&#xe77b;</span>
    </div>
    <div class="box">
        <p>单笔投资</p>
        <span class="iconfont">&#xe77b;</span>
    </div>
    <div class="box">
        <p>关注地区</p>
        <span class="iconfont">&#xe77b;</span>
    </div>
</body>
<script src="../../script/common.js"></script>

</html>