<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>laiHi</title>
    <link rel="stylesheet" href="../../Less/personage/ticket.css">
</head>

<body>
    <div class="contente clearfix">
        <div class="contentel">

        </div>
        <div class="contenter">
            <div class="contenterC iconfont gg">
                
            </div>
            <p>待付款</p>
        </div>
        <div class="contentec">
            <ul>
                <li class="liicon one_txt_cut">小小科技小小科</li>
                <li class="ulC"><span>上海静安</span> <span>09/01</span></li>
                <li>
                    ￥1500
                </li>
            </ul>
        </div>
    </div>
    <div class="contente clearfix">
        <div class="contentel">

        </div>
        <div class="contenter" style="background-color:#DB1F57">
            <div class="contenterC iconfont marginr">
                
            </div>
            <p>未使用</p>
        </div>
        <div class="contentec">
            <ul>
                <li class=" one_txt_cut">小小科技小小科技小小科技</li>
                <li class="ulC"><span>上海静安</span> <span>09/01</span></li>
                <li>
                    ￥1500
                </li>
            </ul>
        </div>
    </div>
    <div class="contente clearfix">
        <div class="contentel">

        </div>
        <div class="contenter" style="background-color:#dfdfdf">
            <div class="contenterC iconfont marginr">
                
            </div>
            <p>已完成</p>
        </div>
        <div class="contentec">
            <ul>
                <li class=" one_txt_cut">小小科技小小科技小小科技小小科技小小科技</li>
                <li class="ulC"><span>上海静安</span> <span>09/01</span></li>
                <li>
                    ￥1500
                </li>
            </ul>
        </div>
    </div>

    <script src="../../script/common.js"></script>

</body>
<script src="../../script/common.js"></script>

</html>