<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>laiHi</title>
    <link rel="stylesheet" href="../../Less/personage/xiangqing.css">
</head>

<body>
    <div class="content">
        <div class="contentTop">
            <a href="./renz.html"><span></span></a>
            <span class="span2">提交</span>
            <p>投资领域</p>
        </div>
        <div class="contentTl">
            <ul>
                <li class="active">小小科技</li>
                <li>小小科技</li>
                <li>小小科技</li>
                <li>小小科技</li>
                <li>小小科技</li>
                <li>小小科技</li>
                <!--<li>小小科技</li>
                <li>小小科技</li>
                <li>小小科技</li>
                <li>小小科技</li>
                <li>小小科技</li>
                <li>小小科技</li>
                <li>小小科技</li>
                <li>小小科技</li>
                <li>小小科技</li>
                <li>小小科技</li>-->
            </ul>
        </div>
        <div class="contentTr">
            <ul>
                <li>1小小科技1小小科技</li>
                <li>1小小科技2小小科技</li>
                <li>小小科技3小小科技</li>
                <li>小小科技4小小科技</li>
                <li>小小科技5小小科技</li>
                <li>小小科技6小小科技</li>
                <li>小小科技1小小科技</li>
                <li>小小科技1</li>
                <li>小小科技2</li>
                <li>小小科技3</li>
                <li>小小科技4</li>
                <li>小小科技5</li>
                <li>小小科技6</li>
                <li>小小科技7</li>
                <li>小小科技8</li>
                <li>小小科技9</li>
            </ul>
            <ul style="display:none">
                <li>2小小科技1小小科技</li>
                <li>小小科技2小小科技</li>
                <li>小小科技3小小科技</li>
                <li>小小科技4小小科技</li>
                <li>小小科技5小小科技</li>
                <li>小小科技6小小科技</li>
                <li>小小科技1小小科技</li>
                <li>小小科技1</li>
                <li>小小科技2</li>
                <li>小小科技3</li>
                <li>小小科技4</li>
                <li>小小科技5</li>
                <li>小小科技6</li>
                <li>小小科技7</li>
                <li>小小科技8</li>
                <li>小小科技9</li>
            </ul>
            <ul style="display:none">
                <li>3小小科技1小小科技</li>
                <li>小小科技2小小科技</li>
                <li>小小科技3小小科技</li>
                <li>小小科技4小小科技</li>
                <li>小小科技5小小科技</li>
                <li>小小科技6小小科技</li>
                <li>小小科技1小小科技</li>
                <li>小小科技1</li>
                <li>小小科技2</li>
                <li>小小科技3</li>
                <li>小小科技4</li>
                <li>小小科技5</li>
                <li>小小科技6</li>
                <li>小小科技7</li>
                <li>小小科技8</li>
                <li>小小科技9</li>
            </ul>
            <ul style="display:none">
                <li>4小小科技1小小科技</li>
                <li>小小科技2小小科技</li>
                <li>小小科技3小小科技</li>
                <li>小小科技4小小科技</li>
                <li>小小科技5小小科技</li>
                <li>小小科技6小小科技</li>
                <li>小小科技1小小科技</li>
                <li>小小科技1</li>
                <li>小小科技2</li>
                <li>小小科技3</li>
                <li>小小科技4</li>
                <li>小小科技5</li>
                <li>小小科技6</li>
                <li>小小科技7</li>
                <li>小小科技8</li>
                <li>小小科技9</li>
            </ul>
            <ul style="display:none">
                <li>5小小科技1小小科技</li>
                <li>小小科技2小小科技</li>
                <li>小小科技3小小科技</li>
                <li>小小科技4小小科技</li>
                <li>小小科技5小小科技</li>
                <li>小小科技6小小科技</li>
                <li>小小科技1小小科技</li>
                <li>小小科技1</li>
                <li>小小科技2</li>
                <li>小小科技3</li>
                <li>小小科技4</li>
                <li>小小科技5</li>
                <li>小小科技6</li>
                <li>小小科技7</li>
                <li>小小科技8</li>
                <li>小小科技9</li>
            </ul>
            <ul style="display:none">
                <li>6小小科技1小小科技</li>
                <li>小小科技2小小科技</li>
                <li>小小科技3小小科技</li>
                <li>小小科技4小小科技</li>
                <li>小小科技5小小科技</li>
                <li>小小科技6小小科技</li>
                <li>小小科技1小小科技</li>
                <li>小小科技1</li>
                <li>小小科技2</li>
                <li>小小科技3</li>
                <li>小小科技4</li>
                <li>小小科技5</li>
                <li>小小科技6</li>
                <li>小小科技7</li>
                <li>小小科技8</li>
                <li>小小科技9</li>
            </ul>
        </div>
    </div>
</body>

<script src="../../script/common.js"></script>
<script>
    var a = document.documentElement.clientHeight;
    document.querySelector('.content').style.height = "" + a + "px";
    var ul = document.querySelectorAll('.contentTr ul');
    var ceblis = document.querySelectorAll('.contentTl li'),
        tag = 0;
    for (var i = 0, len = ceblis.length; i < len; i++) {
        ceblis[i].index = i;
        ceblis[i].addEventListener('touchstart', function() {
            tag = this.index;
            for (var k = 0; k < len; k++) {
                ceblis[k].classList.remove('active');
                ul[k].style.display = 'none';
            }
            this.classList.add('active');
            console.log(ul[tag])
            ul[tag].style.display = 'block';
            var ulli = ul[tag].querySelectorAll('li');
            for (var q = 0; q < ulli.length; q++) {
                (function(q) {
                    var l = q;
                    ulli[l].addEventListener('touchstart', function() {
                        this.classList.add('activ');
                        this.setAttribute("data-val", l);
                    })
                })(q)
            }
        })
    }
    // 单独设置默认选中li的事件  点击侧边栏之前解析
    var topli = ul[0].querySelectorAll('li');
    for (var p = 0; p < topli.length; p++) {
        (function(p) {
            var t = p;
            topli[t].addEventListener('touchstart', function() {
                this.classList.add('activ');
                this.setAttribute("data-val", t);
            })
        })(p)
    }
</script>

</html>