@import 'base.css';
@Dcolor:#9b9b9b;
@xcolor:#757575;
@color:#DB1F57;
 body{
    background-color: #F3F3F3 ;
 }
.callingCard{
    height: 100/30rem;
    line-height: 100/30rem;
    width: 100%;
    background-color: white;
    margin-top: 70/30rem;
    .callingCardr{
        float: left;
        font-size: 28/30rem;
        color: #333333;
        margin-left: 35/30rem;
    }
    .callingCardl{
        float: right;
        width: 32/30rem;
        height: 32/30rem;
        margin-right: 60/30rem;
        background: url('../img/updata.svg') no-repeat;
        background-size: 100%;
        margin-top: 30/30rem;
    }
}

button{
    margin-top: 120/30rem;
    width: 634/30rem;
    height: 80/30rem;
    background-color: @color;
    font-size: 30/30rem;
    color: white;
    position: relative;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}