@import 'base.css';
body {
  background-color: #F3F3F3 ;
  text-align: center;
  color: #333333;
}
.Cglog {
  width: 4rem;
  height: 4rem;
  margin: 0 auto;
  background: url('../img/Cglog.svg');
  background-size: 100%;
  margin-top: 5rem;
  margin-bottom: 2rem;
}
.p1 {
  font-size: 0.93333333rem;
  height: 0.93333333rem;
  line-height: 0.93333333rem;
}
.p2 {
  font-size: 0.8rem;
  height: 0.8rem;
  line-height: 0.8rem;
  margin-top: 0.5rem;
  margin-bottom: 4rem;
}
.p2 a {
  color: blue;
}
button {
  margin-bottom: 0.66666667rem;
  width: 21.13333333rem;
  height: 2.66666667rem;
  background-color: #DB1F57;
  font-size: 1rem;
  color: white;
}
.back {
  color: #333333;
  background-color: #DFDFDF ;
}
