<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../Less/guanZ.css">
    <title>laiHi</title>
</head>

<body>
    <div class="guanZ clearfix">
        <span>公司</span><i>*</i><input type="text" name="" value="">
    </div>
    <div class="guanZ clearfix">
        <span>职位</span><i>*</i><input type="text" name="" value="">
    </div>
    <button type="button" class="tijiao"> 提交</button>
    <div class="DBg">

    </div>
    <div class="DBgbox">
        <p class="DBgtishi">提示</p>
        <p>请求成功</p>
        <div class="DBgboxf">
            <button class="DBgquxiao">取消</button>
            <button class="DBgqueding">确定</button>
        </div>
    </div>
</body>
<script src="../script/common.js">
</script>
<script>
    document.querySelector('.tijiao').addEventListener('touchstart', function() {
        document.querySelector('.DBg').style.display = 'block';
        document.querySelector('.DBgbox').style.display = 'block';
    })
    document.querySelector('.DBgquxiao').addEventListener('touchstart', function() {
        document.querySelector('.DBg').style.display = 'none';
        document.querySelector('.DBgbox').style.display = 'none';
    })
    document.querySelector('.DBgqueding').addEventListener('touchstart', function() {
        window.location.href = 'file:///C:/Users/user/Desktop/LaiHi/views/succeed.html'
    })
</script>

</html>