<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../Less/guanZ.css">
    <title>laiHi</title>
</head>

<body>
    <div class="guanZ clearfix">
        <span>公司 *</span><input type="text" name="" value="">
    </div>
    <div class="guanZ clearfix">
        <span>职位 *</span><input type="text" name="" value="">
    </div>
    <button type="button"> 提交</button>
</body>
<script src="../script/common.js">
</script>

</html>