<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../Less/succeed.css">
    <title>laiHi</title>
</head>

<body>
    <div class="Cglog">

    </div>
    <p class="p1">报名成功</p>
    <p class="p2">进入<a href="javascript:;">我的票券</a>即可查看</p>
    <button type="button">分享活动</button>
    <button type="button" class="back"><a href="../index.html">返回首页</a></button>
</body>
<script src="../script/common.js">
</script>

</html>