@import '../base.css';
body {
  background-color: #F3F3F3;
}
.content {
  width: 25rem;
  height: 100%;
}
.content .contentTop {
  height: 2.66666667rem;
  line-height: 2.66666667rem;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid  #dfdfdf ;
}
.content .contentTop span:first-child {
  display: block;
  float: left;
  width: 1rem;
  height: 1rem;
  background: url('../../img/sanj.svg');
  background-size: 100%;
  transform: rotate(180deg);
  margin-top: 0.83333333rem;
  margin-left: 1rem;
}
.content .contentTop .span2 {
  display: block;
  float: right;
  color: #DB1F57;
  margin-right: 1rem;
  font-size: 1rem;
}
.content .contentTop p {
  text-align: center;
  font-size: 1rem;
}
.content .contentC .contentCr,
.content .contentC .contentCl {
  float: left;
  width: 50%;
  height: 2.33333333rem;
  line-height: 2.33333333rem;
  background-color: white;
  border-bottom: 1px solid  #dfdfdf ;
  text-indent: 2.33333333rem;
}
.content .contentC .contentCr p,
.content .contentC .contentCl p {
  position: relative;
}
.content .contentC .contentCr p::before,
.content .contentC .contentCl p::before {
  content: '';
  display: block;
  width: 0.83333333rem;
  height: 0.83333333rem;
  border: 0.03333333rem solid #dfdfdf;
  position: absolute;
  left: 1rem;
  top: 0.66666667rem;
  border-radius: 50%;
  font-size: 0.93333333rem;
}
.content .contentC .contentCr .backicon::before,
.content .contentC .contentCl .backicon::before {
  background: url('../../img/Cglog.png') no-repeat;
  background-position: 50%;
  background-size: 0.5rem;
  background-color: #DB1F57;
}
.content .contentC .contentCr {
  float: right;
}
.content .contentC .contentCr span {
  display: block;
  float: left;
  height: 100%;
  width: 1px;
  background-color: #dfdfdf ;
}
.contentC2 {
  margin-top: 1.66666667rem;
  text-align: center;
}
.contentC2 span {
  display: inline-block;
  margin: 0 0.33333333rem;
}
.contentC2 input {
  width: 6.66666667rem;
  height: 2.33333333rem;
  background-color: white;
  text-align: right;
  font-size: 0.93333333rem;
  text-indent: 0.33333333rem;
}
.contentC2 p {
  font-size: 0.6rem;
  margin-top: 1rem;
}
.contentC3 span {
  display: block;
  float: left;
  width: 4rem;
  height: 2rem;
  color: #DB1F57;
  border: 1px solid #DB1F57;
  border-radius: 1.16666667rem;
  text-align: center;
  line-height: 2rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  font-size: 1rem;
}
